# Ignore everything under stockfish/ from language statistics
stockfish/** linguist-vendored

# Ignore executable files
*.exe linguist-vendored

# Force all Python source files to count as Python
*.py linguist-language=Python
